body {
    max-width: 100hv;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}


:root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formMain {
    background: rgba(177, 177, 177, 0.301);
    backdrop-filter: blur(100px); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgb(0,0,0, 0.5);
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

.input {
    font-size: 200px;
}

h3 {
    color: rgb(172, 172, 172);
}

.radioImg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radioDiv:active {
    box-shadow: 0 4px 8px 0 rgb(247, 6, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radioDiv {
    width: 200px;
    height: 200px;
}

.radioDiv img{
    height: 200px;
    width: 200px;
}
